html {
  height: 100%;
  width: 100%; }
  html body {
    font-family: Georgia; }

div#page {
  height: 100%;
  width: 100%; }

div#header {
  width: 100%;
  /*	heigth: 50px;
      min-height: 50px !important;
  */
  background-color: #4e4cfa; }

div#body {
  height: 100%;
  /* Dit werkt niet zo goed op een iPhone: */
  /*  width: 80%;
    margin: 0 auto;*/
  width: 100%; }

h1 {
  text-align: left;
  font-family: "Gill Sans", "Helvetica Neue", "Arial", sans-serif;
  color: #2003a0;
  font-size: 2.2em;
  font-weight: 500;
  color: #2003a0;
  margin-bottom: 2em; }

h2 {
  text-align: left;
  font-family: "Gill Sans", "Helvetica Neue", "Arial", sans-serif;
  color: #2003a0;
  font-size: 1.6em;
  color: #2003a0;
  margin-top: 1.1em;
  margin-bottom: 0.5em; }

h3 {
  text-align: left;
  font-family: "Gill Sans", "Helvetica Neue", "Arial", sans-serif;
  color: #2003a0;
  font-size: 1.4em;
  color: #2003a0;
  margin-top: 0.9em;
  margin-bottom: 0.5em; }

header {
  text-align: right;
  margin-top: 17ex;
  margin-bottom: 2em; }
  header h1 {
    text-align: left;
    font-family: "Gill Sans", "Helvetica Neue", "Arial", sans-serif;
    color: #2003a0;
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 7ex;
    line-height: 0.8em; }
  header p.date {
    font-size: 1em;
    color: #2003a0; }
  header a[rel=author] {
    font-family: Georgia;
    font-size: 1.1em; }

em {
  font-style: italic; }

p + p {
  text-indent: 2em; }

p.attribution + p {
  text-indent: 0; }

blockquote {
  font-family: "Gill Sans", Georgia, serif;
  font-style: italic;
  margin: 1.1em 4em 0; }

p.attribution {
  margin: 0 4em 1.1em;
  font-style: italic;
  text-align: right; }

article {
  width: 67%;
  margin: 50px auto 50px;
  font-family: "Georgia";
  font-size: 1.2em;
  line-height: 1.6em;
  text-align: justify;
  color: #3c3c3c; }

skip, stop {
  display: none; }

margin {
  text-indent: 0;
  display: inline-block;
  position: absolute;
  width: 13.5%;
  max-width: 13.5%;
  font-family: "Gills Sans", Georgia;
  font-style: italic;
  font-size: 0.8em;
  color: rgba(32, 3, 160, 0.9); }
  margin.left {
    left: 0;
    text-align: left;
    margin-left: 1em;
    padding-right: 0; }
  margin.right {
    right: 0;
    text-align: right;
    margin-right: 1em;
    padding-left: 0; }

end {
  display: inline;
  min-heigth: 1ex;
  min-width: 1em;
  background-color: #c0ecfb;
  color: #2003a0; }
  end:after {
    float: right;
    content: "█"; }

a {
  font-family: "Gill Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-style: normal;
  text-decoration: none;
  color: rgba(32, 3, 160, 0.9); }
  a:active {
    color: rgba(32, 3, 160, 0.9);
    text-decoration: none; }
  a:hover {
    color: rgba(204, 0, 0, 0.8); }

pre.code {
  font-family: "Menlo", "Courier New", Courier, monospace; }

div#footer {
  width: 100%;
  height: 50px;
  margin-top: 10em;
  background-color: #c0ecfb;
  opacity: 0.8; }

div#floater-top {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-image: url(/images/50x50.png);
  background-repeat: no-repeat;
  background-size: 51px 51px; }

div#floater-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: #c0ecfb;
  opacity: 0.8; }
  div#floater-bottom.expanded {
    transition: width 1s, height 1s;
    -webkit-transition: width 1s, height 1s;
    -moz-transition: width 1s, height 1s;
    height: 200px;
    width: 200px;
    min-width: 0;
    min-height: 0; }

div#index {
  float: right;
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 2px;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.5); }

div#index-menu {
  float: right;
  height: 0;
  width: 0;
  background-color: #c0ecfb; }

div#floater-mask {
  float: right;
  background-color: white;
  width: 50px;
  height: 50px; }
