/*
 * TO DO:
 * div#floater-top background URL corrigeren voor uitrol.
 * <h3> style opruimen ?
 * tellen van (display) equations
 * voetnoten
 */

$banner-background-color: #4e4cfa;
$floater-color: rgb(192, 236, 251);
$header-text-color: rgb(32, 03, 160);
$accented-text-color: rgba(32, 03, 160, 0.9);
$running-text-color: rgb(60, 60, 60);
$anchor-text-hover-color: rgba(204, 0, 0, 0.8);
$running-text-width: 67%;
$gutter-width: 3%;
$margin-text-width: ((100% - $running-text-width) - (2 * $gutter-width)) / 2;
$logo-block-width: 50px;
$logo-block-height: 50px;

@mixin header-text-font {
  font-family: "Gill Sans", "Helvetica Neue", "Arial", sans-serif;
  color: $header-text-color;
}

@mixin running-text-font {
  font-family: "Georgia";
      font-weight: 70;
    color: green;
}

@mixin italic-text-font {
  font-family: "Gills Sans", Georgia;
  font-style: italic;
}

@mixin source-code-font {
  font-family: "Menlo", "Courier New", Courier, monospace;
  font-size: 0.9em
}

@mixin link-text-font {
  font-family: "Gill Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-style: normal;
  text-decoration: none;
}

@mixin logo-block-geom {
  width:  $logo-block-width;
  height:  $logo-block-height;
}

//--- basic page layout -----------------------------------
html {
  height: 100%;  /* So we can "glue" to footer to the bottom of the page */
  width: 100%;

  body {
    @include running-text-font;
  }
}

div#page {
  height: 100%;
  width: 100%;
}

div#header {
  width: 100%;
  /*	heigth: 50px;
      min-height: 50px !important;
  */
  background-color: $banner-background-color;

}

div#body{
 // border: 1px red dashed;

/* Dit werkt niet zo goed op een iPhone: */
/*  width: 80%;
  margin: 0 auto;*/

  width: 100%;
}

div.abstract {
    text-align:justify;
    display: block;
    width: 60%;
    margin: 50px auto;
    font-style: italic;
}

section, sections {
    display: block;
}

sections {
    counter-reset: section;
}

section {
    counter-increment: section;
}

h1 {
  text-align: left;
  @include header-text-font;
  font-size: 2.2em;
  font-weight: 500;
  color: $header-text-color;
  margin-bottom: 2em;
}

h2:before {
    color: $header-text-color;
    content: counters(section, ".") " ";
}


h2 {
  text-align: left;
  @include header-text-font;
  font-size: 1.6em;
  color: $header-text-color;
  margin-top: 1.1em;
  margin-bottom: 0.5em;
}

h3:before {
    color: $header-text-color;
    content: counters(section, ".") " ";
}

h3 {
  text-align: left;
  @include header-text-font;
  font-size: 1.4em;
  color: $header-text-color;
  margin-top: 0.9em;
  margin-bottom: 0.5em;
}


//---- article(!) header ----------------------------------
header {
  text-align: right;
  margin-top: 17ex;
  margin-bottom: 2em;
  h1 {
    text-align: left;
    @include header-text-font;
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 7ex;
    line-height: 0.8em;
  }

  p.date {
    font-size: 1em;
    color: $header-text-color;
  }

  a[rel=author]{
    display: block;
    @include running-text-font;
    font-size: 1.1em;
  }
  
  a[rel=affiliation]{
     display:block;
    @include running-text-font;
    font-size: 1.1em;
  }

}
//--

em {
  font-style: italic;
}

p + p {
  text-indent: 2em;
}


p + p.noindent {
    text-indent: 0;
}

strong { // 20160417
	font-weight: 700;
}

.normal {
    font-weight: normal;
    font-style:normal;
}

p.attribution + p {
  text-indent: 0;
}


//---- quotes ---------------------------------------------
$blockquote-margin-tb: 1.1em;
$blockquote-margin-lr: 4em;
blockquote {
  font-family: "Gill Sans", Georgia, serif;
  font-style: italic;
  margin: $blockquote-margin-tb $blockquote-margin-lr 0;
}

// p.attribution is and attribution are deprecated.
// instead use blockquote footer.
p.attribution:before, attribution:before {
    content: "— "; /* mdash U+2014 */
}

p.attribution, attribution {
  margin: 0 $blockquote-margin-lr $blockquote-margin-tb;
  font-style: italic;
  text-align: right;
}

blockquote > footer:before {
    content: "— "; /* mdash U+2014 */
}

blockquote > footer {
	margin: 0 0 $blockquote-margin-tb auto;
	font-style: italic;
	text-align: right;
}


//--



article {
  display: block;
  width: 67%;
  margin: 50px auto 50px;
  font-family:  "Georgia";
  font-weight: 70;
  font-size: 1.2em;
  line-height: 1.6em;
  text-align: justify;
  color: $running-text-color;
  
  counter-reset: images;
  counter-reset: codesnippets;
}


skip, stop {
  display: none;
}

margin {
  // TO DO: vervang <margin> door <span class="margin"> als de XSLT klaar is.

  text-indent: 0;
  display: inline-block;
  position: absolute;
  width: $margin-text-width;
  max-width: $margin-text-width; // !important;
  @include italic-text-font;
  font-size: 0.8em;
  color: rgba(32, 03, 160, 0.9);

  &.left {
    left: 0;
    text-align: left;
    margin-left: 1em;
    padding-right: 0;
  }

  &.right {
    right: 0;
    text-align: right;
    margin-right: 1em;
    padding-left: 0;
  }
}


end {
  // display: block;  // Interessant verschil tussen block en inline.
  display: inline;
  min-heigth: 1ex;
  min-width: 1em;
  background-color: $floater-color;
  color: $header-text-color;
  &:after {
    float: right;
    content: "█";  //TO DO: replace by "css only" icon.
    }
}

a {
  @include link-text-font;
  color: $accented-text-color;

  &:active {
    color: $accented-text-color;
    text-decoration: none;
  }

  &:hover {
    color: $anchor-text-hover-color;
  }
}

//--- math ----

p.math {
    display: inline;
}

div.mathdisplay {
    width: 33%;
    margin: auto;
}

// //---- MathJax ----
.MathJax_Display { 
    text-align: left !important;
    display: inline !important;
}


//---- images -----

@mixin center-horizontally {
   margin-left: auto;
   margin-right: auto;
}

div.image {
    margin-bottom: 0.5em;
    counter-increment: images;
}

img {

   display: block;
   margin-top: 1em;
   margin-bottom: 0.5em;
   @include center-horizontally;
   font-size: 0.8em;
}

img + p.caption:before {
  @include italic-text-font;
  color: $header-text-color;
  content: "fig " counter(images) ". ";
}

img + p.caption {
  display: block;
  @include italic-text-font;
  color: $header-text-color;
  text-align:center;
    font-size: 0.8em;
}

//--- repairing general image styling for the page header image ---
div#page div#header a img {
    display:inline;
    margin: 0;
}


//---- code as a paragraph ----
section > pre {
  @include source-code-font;
}

//--- inlined code ---------
p > code {
    @include source-code-font;
}

pre {
    @include source-code-font;
}

div pre {
    overflow-x: auto;
}

pre.prettyprint {
    counter-increment: codesnippets;
    margin-top: 1em;
    margin-bottom: 0.5em
}

pre + p.codesnippet:before {
    color: $header-text-color; 
  @include italic-text-font;    
    content: "program " counters(codesnippets, ".") ". ";
}

p.codesnippet {
       display: block;
    @include center-horizontally;
    margin-top: 0.5em;
    margin-bottom: 1em;
  @include italic-text-font;
  text-align:center;
  font-size: 0.8em;
  color: $header-text-color;  
}

//---- Ordered and unordered list -------------------------

ul,
ol{
    margin-top:1em;
    display:block;
    padding-left: 2em;
    font-size:inherit;
}

li > ol {
    margin-top: 0;
}

li > ul {
    margin-top: 0;
}

ol {
    counter-reset: lineitems;  
}

ul > li:before{
    display:list-item;
    font-size:inherit;
    color: $header-text-color;
    content:"￭ ";
}

ol > li:before{
    display:inline;
    font-size:inherit;
    color: $header-text-color;
    counter-increment: lineitems;
    content: counters(lineitems,".") ". ";
}

li{
    list-style-type: none;
    display:list-item;
}


//--- References/bibliography ----------

dt {
	display: inline-block;
	@include link-text-font;
	width: 20%;
	float: left;
	clear: both;
	color: $accented-text-color;
}

dd {
	display: inline-block;
	width: 80%;
	float: left;
	authors {
		text-transform: capitalize;
		font-variant: small-caps;
	}
	cite {
		font-style: italic;
	}
}

dd:after {
	content: ".";
}


//--- HEADER & FOOTER ----------------------------------------------
@mixin floater-text {
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(255,255,255,0.5);
  font-size: 45px;
}

div#footer {
  width: 100%;
  height: $logo-block-height;
  margin-top: 10em;
  background-color: $floater-color;
  opacity: 0.8;
}

div#floater-top {
  display: block;
  position: fixed !important;
  left: 0;
  top:0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  @include logo-block-geom;
  background-image: url("file:///Users/twan/projecten/TWAN.COM/TCM/TCM1501/website/images/50x50.png");
  background-repeat: no-repeat;
  background-size: $logo-block-height+1px $logo-block-width+1px;
  
  @include floater-text;
  text-align:center;
  overflow: hidden;
  color: rgba(0, 0, 0, 0);
  opacity: 0.8;
}



div#floater-bottom {
  position: fixed;
  right: 0;
  bottom:0;
  @include logo-block-geom;
  background-color: $floater-color;
  @include floater-text;
  text-align: center;
  color: $floater-color;
  opacity: 0.8;
}

div#index {
  float: right;
   @include floater-text; 
  margin-top: 2px;

}

div#index-menu {
  float: right;
  height: 0;
  width: 0;
  background-color: $floater-color;


}

div#floater-mask {
  float: right;
  background-color: white;
  @include logo-block-geom;
}
//--

//eof(blog.twan.com.scss).